<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Site Title</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container">
    <%- include('./partials/header'); %>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% navlinkpages.forEach(function(page) { %>
            <li><a href="/content/<%= page._id %>">
                <%= page.pageTitle %>
              </a></li>
            <% }) %>
              <!-- <li><a href=""><%= page.pageTitle %></a></li> -->
        </ul>
      </nav>
      <div class="hero">
        <p>asdasd</p>
        <img src="/<%= page.heroImage %>" alt="" />
      </div>
      <div class="maincontent">
        <p><%- page.pagebody %></p>
      </div>

      <%- include('./partials/footer'); %>

  </div>

</body>

</html>